html
    head
        title Order Form
        a(href = "/" style={"white-space": "nowrap"}) Home 
        a(href = "/users" style={ "padding": "14px 25px"}) Users
        a(href = "/profile" style={"white-space": "nowrap"}) profile
        a(href = "/orderform" style={ "padding": "14px 25px"}) Order
        a(href = "/logout" style={"white-space":"nowrap"}) Logout 
    style.
        .column {
        float: left;
        }
        .left{
        width: 10%;
        }
        .right {
        width: 25%;
        }
        .middle {
        width: 65%;
        }
    body
        
        br
        br
        select#restaurant-select
        br
        br
        h username:#{user}
        br
        br
        #info
        #main
        #left.column.left
        #middle.column.middle
        #right.column.right
        script(src='orderform.js')